// Colors

$blue: #2E89EF;
$light-blue: #9EC6F3;
$dark-blue: #1759A4;
$red: #FE5746;
$green: #5FC137;

// Typography

$em: 16px;

$sans: "Lato", 'Helvetica Neue', arial, sans-serif;
$serif: times, serif;

body {
  font-family: $sans;
  color: #333;
  font-size: $em;
  line-height: 2em;
}

h1, h2, h3,

h1 {
  font: {
    size: 2em;
    weight: bold;
  }
}

h2 {
  font: {
    size: 1.6em;
    weight: bold;
  }
}

h3 {
  font: {
    size: 1.2em;
    weight: normal;
  }
}

p {
  font: {
    weight: normal;
  }
}