@mixin button-reset {
  border: 0px;
  background: transparent;
}

@mixin button($style, $button-color) {
  cursor: pointer;
  display: inline-block;

  @if $style == "primary" {
    height: 60px;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    margin: 0px auto;
    border-radius: 4px;
    background: $button-color;
    padding: 16px 50px;

    &:hover {
      background: darken($button-color, 20%)
    }
  }

  @if $style == "secondary" {
    height: 60px;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.4em;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    margin: 0px auto;
    border-radius: 4px;
    background: $button-color;
    padding: 16px 40px;

    &:hover {
      background: darken($button-color, 20%)
    }
  }
}
